@mixin button {
  padding: $gap-xsmall;
  border-radius: $border-radius-small;
  transition: color 0.25s, background-color 0.25s;

  @include font-small;
}

@mixin button-primary {
  cursor: pointer;
  border: $border-blue;
  background: $c-blue-light;
  color: $c-white;

  &:hover {
    background: $c-white;
    color: $c-blue-light;
  }
}

@mixin button-disactive {
  cursor: default;
  border: $border-grey;
  background: $c-manatee;
  color: $c-white;

  &:hover {
    background: $c-white;
    color: $c-manatee;
  }
}
