$c-white: #fff;
$c-black: #000;
$c-blue-light: #4460f7;
$c-blue: #2140e8;
$c-orange: #f9a52b;
$c-athens-grey-light: #f0f1f5;
$c-athens-grey: #e0e2ea;
$c-heather: #b9bdcf;
$c-manatee: #9194a5;
$c-shark: #1a1b1d;
