@import "../../styles/main.scss";

.filters {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $breakpoints-md) {
    width: 60%;
    flex-direction: row;
    align-items: center;
  }

  &__search {
    width: 100%;
    max-width: 392px;
    position: relative;

    @media only screen and (min-width: $breakpoints-md) {
      margin: 0 $gap-xlarge;
    }

    svg {
      position: absolute;
      top: 41%;
      right: 6%;
    }
  }

  &__input {
    width: 100%;
    height: 48px;
    position: relative;
    border-radius: $border-radius-large;
    margin: $gap-xlarge 0;
    padding: $gap-regular $gap-xxlarge $gap-regular $gap-regular;
    border: $border-grey;
    z-index: $z-index;
    background: transparent;

    @include font-small;
  }

  &__checkboxes {
    width: 54%;
    max-width: 164px;
    display: flex;
    justify-content: space-between;
    margin-left: $gap-xxsmall;
    text-transform: capitalize;

    @media only screen and (min-width: $breakpoints-md) {
      margin-left: 0;
    }

    label {
      @media only screen and (min-width: $breakpoints-md) {
        margin-right: $gap-xxlarge;
      }
    }

    .MuiSvgIcon-root {
      width: 30px;
      height: 30px;
    }

    .MuiCheckbox {
      &-root {
        color: transparent;
      }

      &-colorPrimary {
        &.Mui-checked {
          color: $c-blue-light;

          &:hover {
            background: transparent;
          }
        }
      }
    }

    .MuiIconButton {
      &-colorPrimary {
        &:hover {
          background-color: transparent;
        }
      }
      &-label {
        width: 24px;
        height: 24px;
        border: $border-grey;
        border-radius: $border-radius-small;
      }
    }

    .MuiTypography-body1 {
      @include font-small;
    }
  }
}
